CI_ENVIRONMENT = production
app.baseURL = 'https://tfa2.page.gd/'

database.default.hostname = sql300.infinityfree.com
database.default.database = if0_42322855_TFA2
database.default.username = if0_42322855
database.default.password = your_database_password
database.default.DBDriver = MySQLi
database.default.port = 3306
